<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Corrections:</strong>
  <%= @message.corrections %>
</p>

<p>
  <strong>Converted text:</strong>
  <%= @message.converted_text %>
</p>

<%= link_to 'Back', messages_path %>
